
/*** Background ***/
body{
    background-size: cover;
}
a{text-decoration: none; color: wheat;}
a:hover{color: #ffc918;}
/***** Computer *****/

/*** one ***/
@media screen{
    div.one{
    position: fixed;
    width: 96%;
    top: 1%;
    left: 2%;
    height: 12%;

    display: flex; 
    justify-content: space-between; /* elements are spread across the screen */

    background-image: url("image/background_1.jpg");
    background-size: cover;
    background-position: center;

    color: white;
    align-items: center;

    font-family: Verdana, Tahoma, sans-serif;
    }

    /* one left */

    div.one div.left{
        padding-left: 5cqw;
        font-size: 3cqw;
    }

    /* one right */

    div.one div.right{
        display: inline;
        padding-right: 5cqw;
        float: right;
        font-size: 3cqw;
    }

    div.one div.right span{
        padding: 0.5cqw;
        margin-right: 0.5cqw;
    }

    /* one link color */
    div.one a{
        color: white;
    }

    div.one a:hover{
        color: #ffc918;
    }

    /*** two ***/

    div.home-two{
        position: fixed;
        width: 32.3%;
        height: 85%;
        top: 14%;
        left: 2%;
        margin: auto;

        display: flex; 
        flex-direction: column;
        justify-content: space-evenly; /* elements are spread across the screen */
        text-align: center;

        background-size: cover;
        background-position: bottom;
        background-image: url("image/self_image-3.jpg");

        color: white;
        align-items: center;

        font-family: Verdana, Tahoma, sans-serif;
    }

    div.notes-two{
        position: fixed;
        width: 25%;
        height: 85%;
        top: 14%;
        left: 2%;
        margin: auto;

        background-color: #344857;
        border-right:  #ffc918 solid 0.5cqw;
        border-left: #ffc918 solid 0.5cqw;

        display: flex;
        flex-direction: column;
        align-items: center;

        font-size: 2cqw;
        color: rgba(187, 184, 184, 0.911);

        font-family: sans-serif;
    }

    div.notes-two ul{
        padding-left: 0;
    }

    div.notes-two li{
        margin: 2.5cqw;
    }

    div.notes-two a{
        color: rgb(209, 203, 203);
    }

    div.notes-two a:hover{
        color: #ffc918;
    }

    /*** three ***/

    div.home-three{
        position: fixed;
        width: 62.7%;
        height: 56%;
        top: 14%;
        left: 35.3%;
        margin: auto;

        display: flex; 
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        background-size: cover;
        background-position: center;
        background-image: url("image/background_3.jpg");

        color: white;

        font-family: Verdana, Tahoma, sans-serif;
    }

    div.home-three div{
        flex-direction: column;
        text-align: justify;
        width: 67%;
        padding: none;

        font-size: 1.5cqw;
    }

    div.home-three h1{
        font-size: 2cqw;
        padding: none;
    }

    div.notes-three{
        position: fixed;
        width: 69.5%;
        height: 85%;
        top: 14%;
        left: 28%;
        border-right: #ffc918 solid 0.5cqw;

        display: flex; 
        flex-direction: column;
        justify-content: top;
        align-items: center;
        overflow-y: scroll;

        background-size: cover;
        background-position: center;
        background-color: rgba(187, 184, 184, 0.911);


        color: black;
        font-family: Verdana, Tahoma, sans-serif;
        font-size: 1.5cqw;

    }

    div.notes-three div{
        margin:8cqh;
        text-align: left;
    }

    div.notes-three div>h1{
        font-size: 2cqw;
    }

    div.notes-three div>ol>li{
        margin-bottom: 1cqw;
    }

    div.notes-three div a{
        text-decoration: wavy;
        color: #32709f;
    }

    div.notes-three div a:hover{
        text-decoration: wavy;
        color: #ffc918;
    }



    /*** four ***/

    div.home-four{
        position: fixed;
        width: 62.7%;
        height: 28%;
        top: 71%;
        left: 35.3%;
        margin: auto;

        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-image: url("image/background_4.jpg");
        background-size: cover;
        background-position: bottom;


        font-family: Verdana, Tahoma, sans-serif;
    }

    div.home-four div{
        width: 80%;
        height: 100%;

        font-size: 1.5cqw;
        color: white;

        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;

        color: white;

    }

    div.home-four div>h1{
        font-size: 2cqw;
        padding: none;
    }

}


/***** Smarphone *****/

@media screen and (max-aspect-ratio: 0.8){

    /*** one ***/
    div.one{
        display: flex; 
        flex-direction: column;
        justify-content: space-evenly;
    } 

    /* one Left */

     div.one div.left{
        padding: 0px;
        font-size: 4cqh;
        text-align: center;
    }

    /* one Right */

     div.one div.right{
        font-size: 3cqh;
        padding: 0px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    } 

    /*** two ***/
    div.notes-two{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
        top: 88.5%;
        left: 2%;
        width: 96%;
        height: 10.5%;

        border: none;

        font-size: 1.7cqh;
    }

    div.notes-two li{
        display: inline;
    }

    div.notes-two ul{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        padding: 0px;

    }

    div.notes-two li{
        margin: 0cqw;
    }

    /*** three ***/
    div.home-three div{
        font-size: 1.3cqh;
    }

    div.notes-three{
        top: 14%;
        left: 2%;
        width: 96%;
        height: 74%;

        font-size: 1.5cqh;

        border:none;
        border-bottom: #ffc918 solid 0.6cqh;
    }

    div.notes-three div{
        margin:3cqh;
        text-align: left;
    }

    div.notes-three div>h1{
        font-size: 2cqh;
    }

    div.notes-three div>ol>li{
        margin-bottom: 2cqh;
    }

    /*** four ***/

    div.home-four div{
        width: 67%;
        font-size: 1.3cqh;
    }

    div.home-four div>h1{
        font-size: 1.5cqh;
    }

    
}








